* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background-color: black;
}

.nav-title {
    color: white;
    font-size: 3.5em;
    margin: 0;
    margin-right: 0.5em;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: bold;
    border-right: 0.1em solid #FF8D8D;
    animation: left-to-right 3s steps(14, end) 1s, borderColor 1s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    float: right;
}

.nav-title h1 {
    margin: 0;
}

@keyframes left-to-right {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes borderColor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FF8D8D;
    }
}

.nav-menu {
    display: flex;
    margin: 0 10em;
}

.nav-menu li {
    color: white;
    font-size: larger;
    list-style: none;
    padding: 1em;
}

.nav-menu li:hover {
    background-color: red;
    border-radius: 20px;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

/* header start */

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.header h4 {
    color: red;
    font-size: 1.5em;
}

.header h1 {
    font-size: 4.5em;
}

.header h3 {
    font-size: 1.8em;
}

.header button {
    background-color: red;
    padding: 1em 2em;
    border-radius: 20px;
    font-size: large;
    color: white;
}

.headerinfo {
    width: 60%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10em;
}

.headerimg {
    width: 40%;
    padding: 2em;
}

.body h1 {
    font-size: 4em;
    text-align: center;
    margin: 0.5em 0;
}

.packages {
    display: flex;
    /* padding-top: 1em; */
    justify-content: space-evenly;
    /* margin-bottom: 3em; */
}

.package-description {
    border: 1px solid black;
    width: 20%;
    border-radius: 20px;
    box-shadow: 5px 9px 8px 1px gray;
    padding: 2em;
    margin-top: 2em ;
    margin-bottom: 2em;
    text-align: center;
    transition: margin-top 1s,margin-bottom 1s;
}

.package-description p {
    font-size: normal;
}

.package-description img {
    width: 50%;
}

.package-description:hover {
    padding-bottom: 0;
    margin-bottom: 1em;
    margin-top: -2.5em;
    border: 1px solid red;
    transition: margin-top 1s;
}

.package-description:hover p {
    font-size: large;
}


/* about section start */

.about {
    background-color: black;
    color: white;
    padding: 0 3em;
    padding-top: 2em;
    /* padding-left: 3em;
    padding-right: 3em; */
}

.about>h1 {
    font-size: 4em;
    font-weight: bold;
}

.aboutdetails {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;

}

.imgdiv {
    width: 50%;
    margin: 0 3em;
}

.aboutimg {
    display: flex;

}

.aboutimg img {
    width: 40%;
    margin: 1em;
    transform: skewY(-15deg);
}

.aboutinfo {
    width: 50%;
    margin: 0 3em;
}

.aboutinfo ul {
    margin: 1em;
}

.aboutinfo ul li {
    margin: 0.4em;
}

.aboutinfo button {
    background-color: red;
    padding: 1em 2em;
    color: white;
    border-radius: 20px;
    font-size: large;
    margin-top: 2em;
}

/*workout section start*/
.workout-inquiry {
    background: url("./../images/shape/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em auto;
    display: flex;
    border-radius: 20px;
    width: 30%;
}
.winquiry{
    display: flex; 
    justify-content: space-between;
    padding: 3em;
    width: 100%;    
    color: white;
}
.workout-inquiry h1{
    font-size: 1.5em;
}
.workout-inquiry button{
    font-size: 18px;
    padding: 0 22px;
    display: inline-block;
    /* background: linear-gradient(-45deg,rgb(182, 61, 61),rgb(119, 119, 197)); */
    border: none;
    /* border-radius: 20px; */
    
}
.workout-inquiry button:hover{
 box-shadow: 5px 10px 20px rgb(100, 52, 52);
}
/* service start */

.services{
    display: flex;
    justify-content: space-evenly;

}
.service , .service2{
    width: 350px;
    border: 1px solid violet;
    /* text-align: center; */
    padding: 0;
    box-shadow: 8px 8px 16px rgb(17 16 16);
    position: relative;
}
.service img,.service2 img{
    width: 100%;
    border-radius: 5px;
}
.service2 sup{
    position: absolute;
    top: -30px;
    left: 85%;
    width: 70px;
}
.serviceinfo{
    padding: 2em;
}

/* footer start */

.footer-container{
    padding: 8em;
    text-align: center;
}

.social{
    justify-content: center;
    display: flex;
    font-size: 2em;
    margin: 1.5em;
}
.social h5{
    margin:0 2em;
}